@import "tailwindcss";

/* Custom Scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Material Symbols */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.filled {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Global Styles */
body {
    min-height: 100vh;
    overflow-x: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

summary::-webkit-details-marker {
    display: none;
}

details>summary {
    list-style: none;
}

/* Safe area padding for iPhones */
.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}

.pt-safe {
    padding-top: env(safe-area-inset-top);
}

/* Custom Leaflet Styling */
.leaflet-container {
    background: #f8f6f6;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.leaflet-popup-content-wrapper {
    border-radius: 12px;
    padding: 0;
    overflow: hidden;
}

.leaflet-popup-content {
    margin: 0;
    width: 220px !important;
}

.leaflet-bar a {
    border: none !important;
    color: #ea2a33 !important;
}

.custom-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 2px solid #ea2a33;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}